body {
    margin: 0;
    font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
    letter-spacing:0.03em;
}

h3 {
    padding: 10px 0;
    border-bottom: #ccc solid 1px;
}

.main {
    background: transparent;
    width: 960px;
    margin: 10px auto;   
}

.info {
    background: transparent;
    border-bottom: #ccc solid 1px;
}

table {
    width: 960px;
}

canvas {
    margin-top: 20px !important;
}

.dygraph-axis-label-x {
    margin-top: 20px !important;
}

th {
    background: #eee;
    font-size: 0.8333em;
    font-weight: normal;
}

td {
    font-size: 0.7667em;
    padding: 0 1em;
}

.graph {
    background: #fff;
    border: #ccc solid 1px;
    padding: 0 0 20px 0;
}
